:root{
	--text: #cbcbcb;
	--textDark: #424242;
	--bgLight: #5c5c5c;
	--bgDark: #404040;
	--mostDark: #1a1a1a;
}

body {
	background-color: black;
}


#main {
	background-image: url("../images/bg3.png");
}


#leftSide {
	background-image: url(../images/bg4.png);
}

#leftSide::-webkit-scrollbar-track {
  background: var(--mostDark);
}
 
#leftSide::-webkit-scrollbar-thumb {
  background: var(--bgDark);
}

#leftSide::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

#exportImportZone {
	background-color: var(--bgDark);
	color: var(--text);
}


#news ul li:first-child {
	color : var(--textDark);
}


#search,
#date1, #date2 {
	color: var(--text);
	background-color: var(--bgDark);
}

#search::placeholder {
	color: var(--text);
}

#search:focus {
	border: 2px solid #364656;
}


.buttonGroupTitle,
.buttonGroupTitle::before,
.buttonGroupTitle::after {
	background-color: #364656;
}

.buttonGroupTitle2,
.buttonGroupTitle2::before,
.buttonGroupTitle2::after {
	background-color: #444E54;
}

#options {
	background-image: url("../images/bg4.png");
}

.optionsSticky {
	border-bottom: 3px solid #364656;
}

#selectionOptions,
#increaseOptions,
#visibilityOptions,
#exportImportDiv,
#sorting {
	background-color: rgb(54 70 86 / 60%);
}

#filters .btn,
#options .btn,
#sorting .btn {
	border-color: #585858;
	background: linear-gradient(#4c4c4c, var(--bgDark));
	color: var(--text);
	box-shadow: 1px 1px 3px #000000;
}
.filterDateEnable { color: #585858 !important; }
.checkboxOption,
#separateByDateOptions {	color: var(--text); }

#filters .btn:active,
#options .btn:active,
#sorting .btn:active {
	color: var(--bgDark);
}

#lockMode,
#viewMode {
	background-color: #464646 !important;
	filter: saturate(12) grayscale(1);
}

.selectedFilter,
.selectedOption {
	color: var(--bgDark) !important;
}


#linkTool {
	color: var(--text);
}

#credits {
	color: var(--text);
}

#credits a {
	color: var(--blue2);
}


#btnDarkMode {
	background-image: url("../images/darkmode.png");
}
#btnDarkMode:hover {
	background-image: url("../images/darkmode2.png");
}


#rightSide {
	background-image: url(../images/bg3.png);
}

.counter,
.counter::before,
.counter::after {
	background-color: var(--mostDark);
}

#filtersUsed {
	color: var(--text);
}

#filtersUsed span,
.separator span {
	color: var(--text);
	background-color: rgb(12 12 12 / 42%);
}

.separator::before,
.separator::after {
	background-color: #404040;
}

.item {
	filter: drop-shadow(1px 3px 0px rgb(171 205 239 / 20%));
}


#syncPairs, #items {
	background-color: rgb(12 12 12 / 42%);
}

.syncPair {
	opacity: 0.2;
}
.selected {
    opacity: 1;
}

.selected .syncFav:hover {
	border-color: var(--bgLight);
	background-color: var(--bgLight);
	background-image: url(../images/bg3.png);
}

.syncImages {
	filter: drop-shadow(1px 3px 0px #383838);
}

.syncInfos {
	color: #bfbfbf;
	border-color: var(--bgLight);
	background-color: var(--bgLight);
	background-image: url(../images/bg3.png);
}

.infoDexNum {
	color: white;
	border-color: var(--bgLight);
	background-color: var(--bgLight);
}

.infoPokemonNum {
	border-color: var(--bgLight);
}


#screenshot {
	color: var(--text);
}

#screenshot canvas,
#screenshot img {
	border-color: var(--text);
}


#mobileMenu .btn {
	color: var(--text);
	border: 2px solid #585858;
	background: linear-gradient(var(--bgDark), #4c4c4c);
	box-shadow: 1px 1px 3px #000000;
}

#mobileMenu .btn:hover,
.mobileMenu_selected {
	border-color: #585858;
	background: linear-gradient(#4c4c4c, var(--bgDark));
	color: var(--text);
	box-shadow: 1px 1px 3px #000000;
}


@media only screen and (max-width: 1024px) {

	body {
		background-color: transparent;
		background-image: url("../images/bg3.png");
	}

	#leftSide {
		background-image: none;
	}

	#options {
		background-image: none;
	}

	#lockMode, #viewMode {
		background-color: #E6E6E6 !important;
		filter: none;
	}

	#news ul li:first-child {
		color: #8aadbb;
	}

	#selectionOptions, #increaseOptions, #visibilityOptions, #sorting {
		background-color: rgb(72 137 154 / 30%);
	}

	#search, #date1, #date2 {
		color: white;
		background-color: var(--blue3);
	}

	#filters .btn, #options .btn, #sorting .btn {
		border-color: var(--blue1);
		background: linear-gradient(#ffffff, #cccccc);
		color: var(--blue1);
		box-shadow: 0px 0px 2px var(--blue1);
	}

	.buttonGroupTitle, .buttonGroupTitle::before, .buttonGroupTitle::after {
		background-color: var(--blue2);
	}

	.buttonGroupTitle2, .buttonGroupTitle2::before, .buttonGroupTitle2::after {
		background-color: var(--blue3);
	}

	.mobileMenu_selected {
		color: var(--blue1) !important;
	}

	#credits {
		color: var(--blue1);
	}
	#credits a {
		color: #103742;
	}
}