#selectionBtns,
#increaseBtns,
#fullSelection,
#resetSelection,
#invertSelection,
#increaseSyncStar,
#increaseSyncLevel,
#increaseFavorite,
#editOrderMode,
#sortByCustom {
	pointer-events: none !important;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
	filter: opacity(32%);
}

#selectionOptions,
#increaseOptions { display: none; }

#lockMode {
	border: 2px solid #7a7710 !important;
	background-image: url(../images/lock2.png) !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-color: #F1E57D !important;
	filter: none;
}

.syncFav {
	pointer-events: none !important;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
}

@media only screen and (max-width: 1024px) {
	.syncPair:hover > .syncInfos {
		display: none !important;
	}

	#lockMode {
		border: 1.2px solid #7a7710 !important;
	}
}